<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Авторизация</title>
	<style>
   /* .blanrform { visibility: hidden; } */
  </style>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script> -->
</head>
<body>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos expedita assumenda, sequi eligendi molestias fugiat nobis dolores iste laudantium nostrum eius fuga voluptates repellendus ullam inventore quasi numquam consequuntur, eaque!</p>
<script async src="https://telegram.org/js/telegram-widget.js?14" data-telegram-login="tgstartAuth2bot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
<script>

function onTelegramAuth(user) {
	// document.write('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');
	// $('#id_username').val(user.username)
	// {
	// 	if(user.username=="")
	// 		$('#id_username').val("none")
	// 	else $('#id_username').val(user.username)
	// }

	$('#id_username').val(user.username);

	if($('#id_first_name').val() == null){
		$('#id_first_name').val("none");
	}else{
		$('#id_first_name').val(user.first_name);
	}

	if($('#id_last_name').val() == null){
		$('#id_last_name').val("none");
	}else{
		$('#id_last_name').val(user.last_name);
	}
	// $('#id_first_name').val(user.first_name);
	// $('#id_last_name').val(user.last_name);\

	// document.write('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');

	$('#id_first_name').val(user.first_name);
	$('#id_last_name').val(user.last_name);


	$('#id_id_user').val(user.id);
  $('#sub').click();

}
</script>
<div class="blanrform">
<form action="" method="POST" id='form1'>
{% csrf_token %}
<!-- {{ form.as_p }} -->
<p>
	<label for="id_username">Username:</label>
	<input type="text" name="username" value="5" maxlength="100"  id="id_username"></p>
<p>
	<label for="id_first_name">First name:</label>
	<input type="text" name="first_name" value="5" maxlength="100"  id="id_first_name">
</p>
<p>
	<label for="id_last_name">Last name:</label>
	<input type="text" name="last_name" value="5" maxlength="100"  id="id_last_name">
</p>
<p>
	<label for="id_id_user">Id user:</label>
	<input type="text" name="id_user" value="5" maxlength="100" required="" id="id_id_user">
</p>
<input type="Submit" id='sub' name="submit" value="Submit">
</form>
</div>
<!-- {% if submitbutton == "Submit" %}
<h1>Your first name is {{ first_name }}</h1>
<h1>Your last name is {{ last_name }}</h1>
<h1>Your username is {{ username }}</h1>
{% endif %} -->



<!-- {% for a in allUsers %}
{{a.user_name}} <br>
{% endfor %} -->
</body>
</html>
