<div id="sidebar">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/dashboard">
      <span data-feather="home"></span>
      Панель управления
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/mybots">
      <span data-feather="file"></span>
      Мои боты
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users">
      <span data-feather="shopping-cart"></span>
      Пользователи
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/senders">
      <span data-feather="bar-chart-2"></span>
      Рассылки
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/pay">
      <span data-feather="layers"></span>
      Тарифы
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/profile">
      <span data-feather="users"></span>
      Профиль
    </a>
  </li>
</ul>
</div>
