<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">

    <div id="sidebar"></div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/dashboard">
          <i class="fa fa-home fa-fw" aria-hidden="true"></i>
          Панель управления
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mybots">
          <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
          Мои боты
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">
          <i class="fa fa-user fa-fw" aria-hidden="true"></i>
          Пользователи
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/senders">
          <i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i>
          Рассылки
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pay">
          <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>
          <!-- <i class="fa fa-book" aria-hidden="true"> -->
          Тарифы
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">
          <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
          Профиль
        </a>
      </li>
    </ul>

  </div>
</nav>
