{% extends 'baselk.html' %}
{% load static %}

{% block title %}Пользователи{% endblock %}


{% block head%}
{%endblock%}


{%block mainContent%}


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Пользователи</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      {%if usersData != 0%}
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>avatar</th>
              <th>Username</th>
              <th>Имя</th>
              <th>Фамилия</th>
              <th>id</th>
              <th>Дата регистрации</th>
              <th>Message</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {%for i in usersData%}
              <tr>
                <td><img width="50px" height="50px" src="https://api.telegram.org/file/bot{{tgToken}}/{{i.pathAvatar}}" alt=""></td>
                <td><a href="https://t.me/{{i.username}}">{{i.username}}</a></td>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <th>{{i.tg_id}}</th>
                <th>{{i.dateReg}}</th>
                <th><a href="">Написать сообщение</a></th>
                <th><a href="">Удалить</a></th>
              </tr>
            {%endfor%}
          </tbody>
        </table>
      {%else%}
        <h2>Пользователей ещё нет😭</h2>
      {%endif%}
    </main>
{%endblock%}
